@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #111111;
    overflow-x: hidden;
}

.logo{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    cursor: auto;
    width: 50%;
}

.navbar{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    z-index: 999;

}


.nav-list{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    padding: 10px;
    list-style: none;
    cursor: pointer;
}

.nav-list li a{
    text-decoration: none;
    color: #ffffff;
}

.nav-list li a:hover{
    color: rgb(195, 178, 178);
}

.active{
    background-color: #952aff;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.inactive {
    color: #545454;

}

.rightNav{
    width: 50%;
    padding: 0 23px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#search{
    padding: 10px;
    margin: 5px;
    font-size: 11px;
    border:2px solid gray;
    border-radius: 9px;
}

.background{
    /* background: url(../Asset/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed; */

    position: fixed;
        top: -50%;
        left: -50%;
        right: -50%;
        bottom: -50%;
        width: 200%;
        height: 200vh;
        background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
        background-repeat: repeat;
        animation: bg-animation .2s infinite;
        opacity: 0.9;
        visibility: visible;
        z-index: -1;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

.firstSection {
    max-width: 1000px;
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 92vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
}


.firstHalf{
    max-height: 600px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 100px;
}

.firstHalf h1 {
    text-align: center;
    width: 100%;
    font-size: 50pt;
    color: #e44002;

}
.bottom{
    height:50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondHalf{
    width: 30%;
    margin: auto;
    display: flex;
}

.img{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: auto;
    transition: transform 2s;
    overflow: hidden;

}
/* .secondHalf img:hover{
    transform: scale(1.2);
} */




.social{
    width: 100%;
    list-style: none;
    margin: 10px;


}

.social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.social li{
    width: 100px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    list-style: none;
    background-color: rgba(253, 253, 253,0.8);
    color: black;
    border-radius: 25%;
    cursor: pointer;
}
.social li i{
    margin: 5px;
    padding: 10px;

}

.social-icon:hover{
    transform: scale(1.15);

}

.button{
    width: 100%;
    text-align: center;

}

.btn{
    padding: 8px  20px;
    margin: 7px 3px;
    border: 2px white solid;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: rgb(13, 13, 13);
}

.btn-sm{
    padding: 6px  10px;
    vertical-align: middle;

}

.btn:hover{
    background-color: rgb(53, 138, 213);
    color:rgb(255, 254, 254);
    border: none;
}

.disabled{
    background-color: rgb(0, 0, 0);
    border: 0.5px solid white;
    color: white;

}

.disabled:hover{
    background-color: rgb(0, 0, 0);
    border: none;
    border: 0.5px solid white;
    cursor: auto;
}

.paras{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.text-big{
    font-size: xxx-large!important ;
}
.text-small{
    text-align: justify;
    padding: 20px 40px;
    font-size: x-large!important ;
}

.secRight{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding-bottom: 100px;
}

.secRight .paras{

    text-align: center;
    margin-top: 2%;
    height: 40%;
    width: 100%;
    overflow: hidden;
}

.thumbnail {
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail img{
    height: 100%;
    mix-blend-mode: multiply;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    margin: auto;
    padding: 30px;
    overflow: hidden;

    
}
.contact{ 
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 30px 60px;
    overflow: hidden;
    background-color: white;
    border-top: 1px gray solid;
    
}
.contact .paras{
    color: rgb(0, 0, 0);

}
.contact form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    align-items: center;
    padding: 20px;
}
.contact ul{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin: 0px;
    padding: 0px;

}
.contact ul li{
    width: 100%;
    margin: 5px;
    padding: 5px;
    list-style: none;
}

.form{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.form input{
    max-width: 500px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}


.form textarea{
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    outline: none;
}



footer{
    width: 100%;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

footer h3{
    color: rgb(255, 255, 255);
    text-align: center;
}


.ag-format-container {
    width: 100%;
    height: 100%;
    background-color: rgba(240, 255, 255, 0.5);
    margin: 0 auto;
    overflow: hidden;
    padding: 50px;
}

.ag-courses_box {
    height: 100%;
    width: 90%;
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    z-index: 1;
    cursor: pointer;

}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}

/* 

@media only screen and (max-width: 300px){
    body{
        width: 100%;

    }

.ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
}

.ag-courses-item_title {
    font-size: 24px;
}

.ag-format-container {
    margin-top: 50px;
    margin: 50px;
    width: 50%;
}

.ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
}

.ag-courses-item_link {
    padding: 22px 40px;
}

.ag-courses-item_date-box {
    font-size: 16px;
}

        .paras {
            width: 60%;
        }

        .contact h1 ,h3{
            margin-left: 0px;
            padding-left: 30px;
        }

        .contact form {
            margin-left: 0px;
            padding-left: 50px;
        }

        .form input {
            width: 150%;
        }
    
        .form textarea {
            width: 150%;
        }

        footer{
            width: 100vh;
        }

        .navbar {
            width: 100vh;
        }
        .contact {
            width: 100vh;

        }


}

@media only screen and (max-width: 400px){
    body{
        width: 100%;
    }
        .firstSection {
            max-width: 1000px;
            display: flex;
            flex-direction: column;
            height: 80vh;
            width: 100%;
            margin: auto;
        }
} */
@media only screen and (max-width: 700px){
    body{
        height: 100%;
        width: 100%;
    }
        .firstSection {
            height: 90vh;
            width: 100%;
            flex-direction: column;

        }
        .firstHalf {
            width: 100%;
            height: 50%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

        .top {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: end;
            margin-bottom: 100px;
        }

        .firstHalf h1 {
            font-size: 40pt;
            color: #e44002;

        }

        .secondHalf {
            width: 50%;
            height: 50%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: start;
        }
        .secondHalf img{
            width: 200%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bottom {
            flex-direction: column;
        }
        
        .button {
            height: 100%;
            width: 100%;
            text-align: center;

        }

        .form input {
            width: 70vw;
            outline: none;
            border-radius: 5px;
        }

        .form textarea {
            width: 70vw;
            outline: none;
            border-radius: 5px;
        }

        .contact  {
            margin-top: 0px;
                }
        .contact form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10px;
            align-items: center;
        }

        .ag-courses_item {
            -ms-flex-preferred-size: calc(50% - 30px);
            flex-basis: calc(50% - 30px);
        }

        .ag-courses-item_title {
            font-size: 24px;
        }

        .ag-format-container {
            margin-top: 50px;
            margin: 50px;
            width: 50%;
        }

        .ag-courses_item {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        }

        .ag-courses-item_title {
            min-height: 72px;
            line-height: 1;
            font-size: 24px;
        }

        .ag-courses-item_link {
            padding: 22px 40px;
        }

        .ag-courses-item_date-box {
            font-size: 16px;
        }
    }
    



